.bg-img-1 {
  background-image: url('carousel_img/1.jpeg');
}

.bg-img-2 {
  background-image: url('carousel_img/2.jpeg');
}

.bg-img-3 {
  background-image: url('carousel_img/3.jpeg');
}
.bg-img-4 {
  background-image: url('carousel_img/4.jpeg');
}

.carousel-image {
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
